<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Lost Mapper" />
    <meta name="description" content="Wandering in the world of map-making, cartography and GIS" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lostmapper.com/" />
    <meta property="og:title" content="Lost Mapper" />
    <meta property="og:description" content="Wandering in the world of map-making, cartography and GIS" />
    <meta property="og:image" content="https://lostmapper.com/images/banner.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://lostmapper.com/" />
    <meta property="twitter:title" content="Lost Mapper" />
    <meta property="twitter:description" content="Wandering in the world of map-making, cartography and GIS" />
    <meta property="twitter:image" content="https://lostmapper.com/images/banner.png" />

    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-55T428V372"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-55T428V372');
    </script>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
