---
title: Lost Mapper
---

<h1>Lost Mapper</h1>

<p>Wandering in the world of map-making, cartography and GIS</p>

<p><img src="/images/logo.png" width="320" height="320 "/></p>

<p>YouTube videos coming soon at <a href="https://www.youtube.com/@lostmapper">https://www.youtube.com/@lostmapper</a></p>

<p>Follow me on Mastodon: <a href="https://mapstodon.space/@lostmapper">@lostmapper@mapstodon.space</a></p>
